html {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
header { 
   background-color: #0000ff;
   color: #ffffff;
   border-radius: 5px;
   text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #808080;
  border-radius: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #404040;
}

body {
  border-radius: 5px;
}

footer {
  background-color: #0000ff;
  color: #ffffff;
  border-radius: 5px;
}
